.footer {
    width: 100%;
    background: #194ed6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 38px;
    @include max-md {
        justify-content: start;
        padding: 4px;
        margin-top: 0;
    }
    &__left {
        display: flex;
        align-items: center;
        & * {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #ffffff;
            @include max-lg {
                font-size: 10px;
            }
        }
    }
    &__logo {
        margin-right: 10px;
        & a {
        }
    }

    &__current_year {
        margin-right: 5px;
    }
    &__text {
        border-left: 1px solid #fff;
        padding-left: 5px;
        line-height: 15px !important;
        
    }
    &__right {
        @include max-md {
            display: none;
        }
    }
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        padding: 0 5px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        &:first-child {
            padding-left: 0;
            border-left: none;
        }
        &:last-child {
            padding-right: 0;
            border-right: none;
        }
    }
    &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.12em;
        color: #fffdfd;
        @include max-lg {
            font-size: 12px;
        }
        @include max-sm {
            font-size: 10px;
        }
    }
}
