<aside class="aside">
    <div class="category__item">
        <div class="category__name mint">Найкращі ігри
        </div>
        <div class="category__box">
            <a href="product.html">
                <img src="images/game1.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game2.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game3.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game4.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game5.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game1.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game2.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game3.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game4.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game5.png" alt="">
            </a>
        </div>
    </div>
    <div class="category__item">
        <div class="category__name blue">Ігри по персонажам
        </div>
        <div class="category__box">
            <a href="product.html">
                <img src="images/game1.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game2.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game3.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game4.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game5.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game1.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game2.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game3.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game4.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game5.png" alt="">
            </a>
        </div>
    </div>
    <div class="category__item">
        <div class="category__name violet">Популярні ігри
        </div>
        <div class="category__box">
            <a href="product.html">
                <img src="images/game1.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game2.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game3.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game4.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game5.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game1.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game2.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game3.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game4.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game5.png" alt="">
            </a>
        </div>
    </div>
    <div class="category__item">
        <div class="category__name pink">Настільні ігри
        </div>
        <div class="category__box">
            <a href="product.html">
                <img src="images/game1.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game2.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game3.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game4.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game5.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game1.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game2.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game3.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game4.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game5.png" alt="">
            </a>
        </div>
    </div>
    <div class="category__item">
        <div class="category__name sky">Дитячі ігри
        </div>
        <div class="category__box">
            <a href="product.html">
                <img src="images/game1.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game2.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game3.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game4.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game5.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game1.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game2.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game3.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game4.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game5.png" alt="">
            </a>
        </div>
    </div>
    <div class="category__item">
        <div class="category__name rose">Ігри для дівчат
        </div>
        <div class="category__box">
            <a href="product.html">
                <img src="images/game1.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game2.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game3.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game4.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game5.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game1.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game2.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game3.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game4.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game5.png" alt="">
            </a>
        </div>
    </div>
    <div class="category__item">
        <div class="category__name blue">Ігри для хлопчиків
            
        </div>
        <div class="category__box">
            <a href="product.html">
                <img src="images/game1.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game2.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game3.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game4.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game5.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game1.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game2.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game3.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game4.png" alt="">
            </a>
            <a href="product.html">
                <img src="images/game5.png" alt="">
            </a>
        </div>
    </div>
</aside>