<div class="categoryPage">
    <div class="container">
        <div class="categoryPage__content">
            {{> blocks / aside}}
            <div class="categoryPage__right">
                <div class="advertise">
                    <img src="images/pic2.png" alt="adv">
                </div>
                
                <div class="categoryPage__center close">
                    <div class="categoryPage__center-description">
                        Кожна дівчинка і кожен хлопчик зможе знайти для себе цікаві онлайн ігри будь-якого жанру: Гонки, Танки, Майнкрафт і різні ігри для користувачів. Також на вас чекають ігри за мотивами улюблених дитячих мультфільмів та персонажів. Ми постійно додаємо на сайт ігри, а ви завжди можете побачити їх на головній сторінці та одразу пограти. 
                    </div>
                    <div class="main__center-category__top">
                        <picture class="">
                            <source srcset="images/vizerunok.png" media="(max-width: 500px)">
                            <source srcset="images/ukr_line3.png" media="(max-width: 1440px)">
                            <img src="images/ukr_line.png" alt="">
                        </picture>
                        
                        <div class="category__name orange">
                            <img src="images/ukr_line3.png" alt="" class="ukr">
                             Ігри для дітей
                            <img src="images/ukr_line3.png" alt="" class="ukr">
                            <img src="images/burger_category.png" alt="" class="brg">
                        </div>
                        <picture class="">
                            <source srcset="images/vizerunok.png" media="(max-width: 500px)">
                            <source srcset="images/ukr_line3.png" media="(max-width: 1440px)">
                            <img src="images/ukr_line.png" alt="">
                        </picture>
                    </div>
                    <div class="categoryPage__center_mobile_wrapper">
                    <div class="categoryPage__center-description categoryPage__center-description_mobile">
                        Кожна дівчинка і кожен хлопчик зможе знайти для себе цікаві онлайн ігри будь-якого жанру: Гонки, Танки, Майнкрафт і різні ігри для користувачів. Також на вас чекають ігри за мотивами улюблених дитячих мультфільмів та персонажів. Ми постійно додаємо на сайт ігри, а ви завжди можете побачити їх на головній сторінці та одразу пограти. 
                    </div>
                    <div class="categoryPage__center-title">Ігри для дітей по категоріям</div>
                    <div class="category__slider">
                        <div class="category__slider-items">
                            <div class="main__center-category__game item">
                                <img src="images/igra1.png" alt="">
                                <div class="main__center-category__game_name green">3 роки</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra2.png" alt="">
                                <div class="main__center-category__game_name green">4 роки</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra3.png" alt="">
                                <div class="main__center-category__game_name green">5 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra4.png" alt="">
                                <div class="main__center-category__game_name green">6 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra5.png" alt="">
                                <div class="main__center-category__game_name green">7 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra6.png" alt="">
                                <div class="main__center-category__game_name green">8 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra1.png" alt="">
                                <div class="main__center-category__game_name green">9 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra2.png" alt="">
                                <div class="main__center-category__game_name green">10 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra3.png" alt="">
                                <div class="main__center-category__game_name green">11 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra4.png" alt="">
                                <div class="main__center-category__game_name green">12 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra5.png" alt="">
                                <div class="main__center-category__game_name green">13 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra6.png" alt="">
                                <div class="main__center-category__game_name green">14 років</div>
                            </div>
                        </div>
                        <div class="category__slider-nav">
                            <img src="images/prev.png" alt="prev">
                            <img src="images/prev.png" alt="prev">
                        </div>
                    </div>
                    <div class="filter">
                        <div class="filter__top">
                            <div class="category__name orange">Усі ігри для дітей</div>
                            <div class="filter__line">
                                <span></span>
                            </div>
                            <div class="filter__nav">
                                <span>Сорторувати за...</span>
                                <div class="filter__tabs">
                                    <button class="filter__tab">Топ</button>
                                    <button class="filter__tab">Нові</button>
                                    <button class="filter__tab">Рейтинг</button>
                                </div>
                            </div>
                        </div>
                    
                    <div class="main__center-category__games">
                        <div class="main__center-category__game">
                            <img src="images/igra1.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra2.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra3.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra4.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra5.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra6.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra1.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra2.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                    </div>
                    <div class="main__center-bottom" style="display: block;">
                        <button class="main__center-more">Більше ігор ...</button>
                        <ul class="main__center-pages">
                            <li class="main__center-pages__item active">1</li>
                            <li class="main__center-pages__item">2</li>
                            <li class="main__center-pages__item">3</li>
                        </ul>
                    </div>
                    
                    </div>
                    <div class="rating">
                        <div class="rating__title">Оцініть будь-ласка цей розділ</div>
                        <div class="rating__stars">
                            <div class="stars">
                                <img src="images/star.png" alt="">
                                <img src="images/star.png" alt="">
                                <img src="images/star.png" alt="">
                                <img src="images/star.png" alt="">
                                <img src="images/star2.png" alt="">
                            </div>
                            <div class="rating__stars-count">(оцінок 15899)</div>
                        </div>
                    </div>
                    <div class="advertises">
                        <img src="images/pic3.png" alt="">
                        <img src="images/pic4.png" alt="">
                    </div>
                    </div>
                    <div class="comment">Комментар</div>
                
                </div>
                <div class="categoryPage__center close">
                    <div class="categoryPage__center-description">
                        Кожна дівчинка і кожен хлопчик зможе знайти для себе цікаві онлайн ігри будь-якого жанру: Гонки, Танки, Майнкрафт і різні ігри для користувачів. Також на вас чекають ігри за мотивами улюблених дитячих мультфільмів та персонажів. Ми постійно додаємо на сайт ігри, а ви завжди можете побачити їх на головній сторінці та одразу пограти. 
                    </div>
                    <div class="main__center-category__top">
                        <picture class="">
                            <source srcset="images/vizerunok.png" media="(max-width: 500px)">
                            <source srcset="images/ukr_line3.png" media="(max-width: 1440px)">
                            <img src="images/ukr_line.png" alt="">
                        </picture>
                        
                        <div class="category__name rose">
                            <img src="images/ukr_line3.png" alt="" class="ukr">
                             Ігри для дівчат
                            <img src="images/ukr_line3.png" alt="" class="ukr">
                            <img src="images/burger_category.png" alt="" class="brg">
                        </div>
                        <picture class="">
                            <source srcset="images/vizerunok.png" media="(max-width: 500px)">
                            <source srcset="images/ukr_line3.png" media="(max-width: 1440px)">
                            <img src="images/ukr_line.png" alt="">
                        </picture>
                    </div>
                    <div class="categoryPage__center_mobile_wrapper">
                    <div class="categoryPage__center-description categoryPage__center-description_mobile">
                        Кожна дівчинка і кожен хлопчик зможе знайти для себе цікаві онлайн ігри будь-якого жанру: Гонки, Танки, Майнкрафт і різні ігри для користувачів. Також на вас чекають ігри за мотивами улюблених дитячих мультфільмів та персонажів. Ми постійно додаємо на сайт ігри, а ви завжди можете побачити їх на головній сторінці та одразу пограти. 
                    </div>
                    <div class="categoryPage__center-title">Ігри для дівчат по категоріям</div>
                    <div class="category__slider">
                        <div class="category__slider-items">
                            <div class="main__center-category__game item">
                                <img src="images/igra1.png" alt="">
                                <div class="main__center-category__game_name green">3 роки</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra2.png" alt="">
                                <div class="main__center-category__game_name green">4 роки</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra3.png" alt="">
                                <div class="main__center-category__game_name green">5 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra4.png" alt="">
                                <div class="main__center-category__game_name green">6 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra5.png" alt="">
                                <div class="main__center-category__game_name green">7 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra6.png" alt="">
                                <div class="main__center-category__game_name green">8 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra1.png" alt="">
                                <div class="main__center-category__game_name green">9 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra2.png" alt="">
                                <div class="main__center-category__game_name green">10 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra3.png" alt="">
                                <div class="main__center-category__game_name green">11 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra4.png" alt="">
                                <div class="main__center-category__game_name green">12 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra5.png" alt="">
                                <div class="main__center-category__game_name green">13 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra6.png" alt="">
                                <div class="main__center-category__game_name green">14 років</div>
                            </div>
                        </div>
                        <div class="category__slider-nav">
                            <img src="images/prev.png" alt="prev">
                            <img src="images/prev.png" alt="prev">
                        </div>
                    </div>
                    <div class="filter">
                        <div class="filter__top">
                            <div class="category__name rose">Усі ігри для дівчат</div>
                            <div class="filter__line">
                                <span></span>
                            </div>
                            <div class="filter__nav">
                                <span>Сорторувати за...</span>
                                <div class="filter__tabs">
                                    <button class="filter__tab">Топ</button>
                                    <button class="filter__tab">Нові</button>
                                    <button class="filter__tab">Рейтинг</button>
                                </div>
                            </div>
                        </div>
                    
                    <div class="main__center-category__games">
                        <div class="main__center-category__game">
                            <img src="images/igra1.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra2.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra3.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra4.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra5.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra6.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra1.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra2.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                    </div>
                    <div class="main__center-bottom" style="display: block;">
                        <button class="main__center-more">Більше ігор ...</button>
                        <ul class="main__center-pages">
                            <li class="main__center-pages__item active">1</li>
                            <li class="main__center-pages__item">2</li>
                            <li class="main__center-pages__item">3</li>
                        </ul>
                    </div>
                    
                    </div>
                    <div class="rating">
                        <div class="rating__title">Оцініть будь-ласка цей розділ</div>
                        <div class="rating__stars">
                            <div class="stars">
                                <img src="images/star.png" alt="">
                                <img src="images/star.png" alt="">
                                <img src="images/star.png" alt="">
                                <img src="images/star.png" alt="">
                                <img src="images/star2.png" alt="">
                            </div>
                            <div class="rating__stars-count">(оцінок 15899)</div>
                        </div>
                    </div>
                    <div class="advertises">
                        <img src="images/pic3.png" alt="">
                        <img src="images/pic4.png" alt="">
                    </div>
                    </div>
                    <div class="comment">Комментар</div>
                
                </div>
                <div class="categoryPage__center">
                    <div class="categoryPage__center-description">
                        Кожна дівчинка і кожен хлопчик зможе знайти для себе цікаві онлайн ігри будь-якого жанру: Гонки, Танки, Майнкрафт і різні ігри для користувачів. Також на вас чекають ігри за мотивами улюблених дитячих мультфільмів та персонажів. Ми постійно додаємо на сайт ігри, а ви завжди можете побачити їх на головній сторінці та одразу пограти. 
                    </div>
                    <div class="main__center-category__top">
                        <picture class="">
                            <source srcset="images/vizerunok.png" media="(max-width: 500px)">
                            <source srcset="images/ukr_line3.png" media="(max-width: 1440px)">
                            <img src="images/ukr_line.png" alt="">
                        </picture>
                        
                        <div class="category__name blue">
                            <img src="images/ukr_line3.png" alt="" class="ukr">
                             Ігри для хлопчиків
                            <img src="images/ukr_line3.png" alt="" class="ukr">
                            <img src="images/burger_category.png" alt="" class="brg">
                        </div>
                        <picture class="">
                            <source srcset="images/vizerunok.png" media="(max-width: 500px)">
                            <source srcset="images/ukr_line3.png" media="(max-width: 1440px)">
                            <img src="images/ukr_line.png" alt="">
                        </picture>
                    </div>
                    <div class="categoryPage__center_mobile_wrapper">
                    <div class="categoryPage__center-description categoryPage__center-description_mobile">
                        Кожна дівчинка і кожен хлопчик зможе знайти для себе цікаві онлайн ігри будь-якого жанру: Гонки, Танки, Майнкрафт і різні ігри для користувачів. Також на вас чекають ігри за мотивами улюблених дитячих мультфільмів та персонажів. Ми постійно додаємо на сайт ігри, а ви завжди можете побачити їх на головній сторінці та одразу пограти. 
                    </div>
                    <div class="categoryPage__center-title">Ігри для хлопців по категоріям</div>
                    <div class="category__slider">
                        <div class="category__slider-items">
                            <div class="main__center-category__game item">
                                <img src="images/igra1.png" alt="">
                                <div class="main__center-category__game_name green">3 роки</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra2.png" alt="">
                                <div class="main__center-category__game_name green">4 роки</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra3.png" alt="">
                                <div class="main__center-category__game_name green">5 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra4.png" alt="">
                                <div class="main__center-category__game_name green">6 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra5.png" alt="">
                                <div class="main__center-category__game_name green">7 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra6.png" alt="">
                                <div class="main__center-category__game_name green">8 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra1.png" alt="">
                                <div class="main__center-category__game_name green">9 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra2.png" alt="">
                                <div class="main__center-category__game_name green">10 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra3.png" alt="">
                                <div class="main__center-category__game_name green">11 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra4.png" alt="">
                                <div class="main__center-category__game_name green">12 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra5.png" alt="">
                                <div class="main__center-category__game_name green">13 років</div>
                            </div>
                            <div class="main__center-category__game item">
                                <img src="images/igra6.png" alt="">
                                <div class="main__center-category__game_name green">14 років</div>
                            </div>
                        </div>
                        <div class="category__slider-nav">
                            <img src="images/prev.png" alt="prev">
                            <img src="images/prev.png" alt="prev">
                        </div>
                    </div>
                    <div class="filter">
                        <div class="filter__top">
                            <div class="category__name orange">Усі ігри для хлопчиків</div>
                            <div class="filter__line">
                                <span></span>
                            </div>
                            <div class="filter__nav">
                                <span>Сорторувати за...</span>
                                <div class="filter__tabs">
                                    <button class="filter__tab">Топ</button>
                                    <button class="filter__tab">Нові</button>
                                    <button class="filter__tab">Рейтинг</button>
                                </div>
                            </div>
                        </div>
                    
                    <div class="main__center-category__games">
                        <div class="main__center-category__game">
                            <img src="images/igra1.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra2.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra3.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra4.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra5.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra6.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra1.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                        <div class="main__center-category__game">
                            <img src="images/igra2.png" alt="">
                            <div class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</div>
                        </div>
                    </div>
                    <div class="main__center-bottom" style="display: block;">
                        <button class="main__center-more">Більше ігор ...</button>
                        <ul class="main__center-pages">
                            <li class="main__center-pages__item active">1</li>
                            <li class="main__center-pages__item">2</li>
                            <li class="main__center-pages__item">3</li>
                        </ul>
                    </div>
                    
                    </div>
                    <div class="rating">
                        <div class="rating__title">Оцініть будь-ласка цей розділ</div>
                        <div class="rating__stars">
                            <div class="stars">
                                <img src="images/star.png" alt="">
                                <img src="images/star.png" alt="">
                                <img src="images/star.png" alt="">
                                <img src="images/star.png" alt="">
                                <img src="images/star2.png" alt="">
                            </div>
                            <div class="rating__stars-count">(оцінок 15899)</div>
                        </div>
                    </div>
                    <div class="advertises">
                        <img src="images/pic3.png" alt="">
                        <img src="images/pic4.png" alt="">
                    </div>
                    </div>
                    <div class="comment">Комментар</div>
                
                </div>
            </div>
        </div>
    </div>
</div>