<footer class="footer">
    <div class="footer__left">
        <div class="footer__logo">
            <a href="#">IGRY.COM.UA</a>
        </div>
        <div class="footer__current_year">ⓒ 2022</div>
        <div class="footer__text">Грайте в наші ігри на нашому сайті</div>
    </div>
    <div class="footer__right">
        <ul class="footer__list">
            <li class="footer__item">
                <a href="#" class="footer__link">контакти</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">правовласникам</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">розробникам</a>
            </li>
        </ul>
    </div>
    <img src="images/toTop.png" alt="to top" id="toTop">
    <div class="popup popup__search">
        <input type="text" placeholder="Поиск">
    </div>
</footer>