<footer class="footer">
    <div class="footer__left">
        <div class="footer__logo">
            <a href="#">IGRY.COM.UA</a>
        </div>
        <div class="footer__current_year">ⓒ 2022</div>
        <div class="footer__text">Грайте в наші ігри на нашому сайті</div>
    </div>
    <div class="footer__right">
        <ul class="footer__list">
            <li class="footer__item">
                <a href="#" class="footer__link">контакти</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">правовласникам</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">розробникам</a>
            </li>
        </ul>
    </div>
    <img src="images/toTop.png" alt="to top" id="toTop">
    <div class="popup popup__search rose">
        <input type="text" placeholder="Пошук...">
    </div>
    <div class="popup popup-comment">
        <form action="#" class="popup-comment__form" name="comment" method="post">
            <input type="text" placeholder="Ім’я">
            <textarea type="text" placeholder="Ваш комментар:"></textarea>
            <button type="submit">Відправити</button>
        </form>
        <div class="popup-comment__info">
            <div class="popup-comment__info_group">
                <div class="popup-comment__info-avatar">
                    <img src="images/avatar.png" alt="avatar">
                </div>
                <div class="popup-comment__info_author">
                    <div class="popup-comment__info_name">Олександр Бондаренко</div>
                    <div class="popup-comment__info_rating">
                        <img src="images/star3.png" alt="">
                        <img src="images/star3.png" alt="">
                        <img src="images/star3.png" alt="">
                        <img src="images/star3.png" alt="">
                        <img src="images/star3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="popup-comment__info_date">12-04-22</div>
        </div>
    </div>
</footer>