<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__mobile_wrap">
                <div class="header__mobile_icon header__burger">
                    <img src="images/burger.png" alt="menu" class="dominant">
                    <img src="images/burger_close.png" alt="close">
                </div>
                <div class="logo header__logo">
                    <a href="index.html">
                        <img src="images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="header__mobile_icon header__mobile_search">
                    <img src="images/search_mobile.png" alt="search">
                </div>
            </div>
            <div class="header__nav">
                <ul class="menu header__menu">
                    <li class="menu__item pink">
                        <a href="category.html" class="menu__link category__title">Усі ігри</a>
                    </li>
                    <li class="menu__item rose">
                        <a href="category.html" class="menu__link category__title">Ігри для дівчаток</a>
                    </li> 
                    <li class="menu__item blue">
                        <a href="category.html" class="menu__link category__title">Ігри для хлопців</a>
                    </li> 
                    <li class="menu__item orange">
                        <a href="category.html" class="menu__link category__title">Ігри для дітей</a>
                    </li> 
                    <li class="menu__item green">
                        <a href="category.html" class="menu__link category__title">Настільні ігри</a>
                    </li> 
                    <li class="menu__item yellow">
                        <a href="category.html" class="menu__link category__title">Ігри по персонажам</a>
                    </li> 
                    <li class="menu__item violet">
                        <a href="category.html" class="menu__link category__title">Популярні ігри</a>
                    </li> 
                </ul>
                <div class="search header__search">
                    <input type="text" name="header_search" placeholder="Пошук ігри">
                    <img src="images/search.png" alt="search">
                </div>
            </div>
        </div>
        <div class="category__menu">
            <div class="category__item">
                <div class="category__name orange">Ігри для дітей</div>
                <div class="category__box">
                    <a href="product.html">
                        <img src="images/game1.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game2.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game3.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game4.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game5.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game1.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game2.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game3.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game4.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game5.png" alt="">
                    </a>
                </div>
            </div>
            <div class="category__item">
                <div class="category__name green">Настільні ігри</div>
                <div class="category__box">
                    <a href="product.html">
                        <img src="images/game1.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game2.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game3.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game4.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game5.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game1.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game2.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game3.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game4.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game5.png" alt="">
                    </a>
                </div>
            </div>
            <div class="category__item">
                <div class="category__name rose">Ігри по персонажам</div>
                <div class="category__box">
                    <a href="product.html">
                        <img src="images/game1.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game2.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game3.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game4.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game5.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game1.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game2.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game3.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game4.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game5.png" alt="">
                    </a>
                </div>
            </div>
            <div class="category__item">
                <div class="category__name violet">Найкращі ігри</div>
                <div class="category__box">
                    <a href="product.html">
                        <img src="images/game1.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game2.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game3.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game4.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game5.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game1.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game2.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game3.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game4.png" alt="">
                    </a>
                    <a href="product.html">
                        <img src="images/game5.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>