<div class="popular">
    <div class="container">
        <div class="popular__content">
            <div class="popular__title">Популярні ігри нашого порталу</div>
            <div class="popular__bottom">
                <div class="popular__slider">
                    <div class="main__center-category__game">
                        <a href="product.html">
                            <img src="images/igra1.png" alt="">
                            <span class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</span>
                        </a>
                    </div>
                    <div class="main__center-category__game">
                        <a href="product.html">
                            <img src="images/igra2.png" alt="">
                            <span class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</span>
                        </a>
                    </div>
                    <div class="main__center-category__game">
                        <a href="product.html">
                            <img src="images/igra3.png" alt="">
                            <span class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</span>
                        </a>
                    </div>
                    <div class="main__center-category__game">
                        <a href="product.html">
                            <img src="images/igra4.png" alt="">
                            <span class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</span>
                        </a>
                    </div>
                    <div class="main__center-category__game">
                        <a href="product.html">
                            <img src="images/igra5.png" alt="">
                            <span class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</span>
                        </a>
                    </div>
                    <div class="main__center-category__game">
                        <a href="product.html">
                            <img src="images/igra6.png" alt="">
                            <span class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</span>
                        </a>
                    </div>
                    <div class="main__center-category__game">
                        <a href="product.html">
                            <img src="images/igra1.png" alt="">
                            <span class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</span>
                        </a>
                    </div>
                    <div class="main__center-category__game">
                        <a href="product.html">
                            <img src="images/igra2.png" alt="">
                            <span class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</span>
                        </a>
                    </div>
                    <div class="main__center-category__game">
                        <a href="product.html">
                            <img src="images/igra3.png" alt="">
                            <span class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</span>
                        </a>
                    </div>
                    <div class="main__center-category__game">
                        <a href="product.html">
                            <img src="images/igra4.png" alt="">
                            <span class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</span>
                        </a>
                    </div>
                    <div class="main__center-category__game">
                        <a href="product.html">
                            <img src="images/igra5.png" alt="">
                            <span class="main__center-category__game_name green">Плейстейшен: Діно Крізіс</span>
                        </a>
                    </div>
                </div>
                <div class="popular__slider-nav">
                    <img src="images/prev.png" alt="prev">
                    <img src="images/prev.png" alt="prev">
                </div>
            </div>
        </div>
    </div>
</div>