.main {
    margin-top: 28px;
    @include max-lg {
        margin-top: 20px;
    }
    @include max-md {
        margin-top: 5px;
    }
    &__content {
        display: flex;
        column-gap: 62px;
        @include max-xl {
            column-gap: 40px;
        }
    }
    &__right {
        width: 100%;
        @include max-md {
            // display: none;
        }
    }
    &__categories {
        display: flex;
        justify-content: space-between;
        width: 100%;
        column-gap: 20px;
        @include max-md {
            flex-direction: column-reverse;
            display: none;
        }
        &-list {
            @include max-md {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                padding-bottom: 15px;
            }
            
        }
        & .category__item {
            max-width: 645px;
            width: 100%;
            @include max-md {
                max-width: 100%;
            }
        }
        & .category__box {
            grid-template-columns: repeat(9, 1fr);
            padding: 0;
            @include max-big {
                grid-template-columns: repeat(7, 1fr);
            }
            @include max-xxl {
                grid-template-columns: repeat(6, 1fr);
            }
            @include max-xlmidle {
                grid-template-columns: repeat(5, 1fr);
            }
            @include max-lloo {
                grid-template-columns: repeat(4, 1fr);
            }
            @include max-tab {
                grid-template-columns: repeat(3, 1fr);
            }
            @include max-md {
                grid-template-columns: repeat(8, 1fr);
            }
            @include max-sm {
                grid-template-columns: repeat(5, 1fr);
            }
        }
        & .category__name {
            margin-bottom: 15px;
        }
    }
    &__center {
        background: #ffffff;
        border-radius: 15px;
        padding: 0 63px 27px;
        margin-top: 14px;
        &.close {
            background: none !important;
            padding: 0 !important;
        }
        @include max-xlmidle {
            padding: 0 30px 27px;
            margin-top: 10px;
        }
        @include max-xl {
            padding: 5px 30px 27px;
        }
        @include max-md {
            margin-top: 0;
            padding: 25px 9px 27px;
            transition: .5s;
        }
        &-text {
            display: block;
            @include max-md {
                display: none;
            }
        }
        &-text_mobile {
            margin-top: 13px;
            display: none;
            // @include max-md {
            //     display: block;
            // }
        }
        &-title {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 48px;
            color: #2d2c2c;
            text-align: center;
            @include max-xl {
                line-height: 34px;
            }
            @include max-sm {
                font-size: 14px;
                line-height: 18px;
            }
        }
        &-description {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #2d2c2c;
            @include max-sm {
                font-size: 12px;
                line-height: 17px;
            }
        }
        &-category__top {
            padding-top: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include max-md {
                padding-top: 0;
            }
            & img {
                max-width: 337px;
                max-height: 52px;
            }
            & .category__name {
                max-width: 410px;
                max-height: 61px;
                width: 100%;
                font-weight: 700;
                font-size: 20px;
                line-height: 53px;
                display: flex;
                justify-content: center;
                color: #ffffff;
                align-items: center;
                border-radius: 15px;
                margin: 0 15px;
                position: relative;
                @include max-xxxl {
                    max-width: 300px;
                }
                @include max-sm {
                    font-size: 14px;
                    line-height: 25px;
                    font-weight: 600;
                }
                
                & img {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 13px;
                    margin: auto;
                    width: 23px;
                    display: none !important;
                    @include md {
                        display: none !important;
                    }
                    
                }
                &.close img {
                    display: block !important;
                }
            }
        }
        &-category__games {
            margin-top: 28px;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            row-gap: 23px;
            justify-items: center;
            column-gap: 19px;
            @include max-big {
                grid-template-columns: repeat(6, 1fr);
            }
            @include max-xxxxl {
                grid-template-columns: repeat(5, 1fr);
            }
            @include max-xl {
                grid-template-columns: repeat(4, 1fr);
            }
            @include max-lg {
                grid-template-columns: repeat(3, 1fr);
                column-gap: 12px;
                row-gap: 9px;
            }
            @include max-lg {
                margin-top: 12px;
            }
            // &.open .main__center-category__game:nth-child(n+4) {
            //     display: none !important;
            // }
        }
        &-category__game {
            max-width: 100%;
            @include max-xxl {
                max-width: 100%;
            }
            @include max-lg {
                max-width: 100%;
            }
            &:nth-child(n+4) {
                @include max-md {
                    display: none;
                }
            }
            &_name {
                font-weight: 600;
                font-size: 10px;
                line-height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                background: #77ee2f;
                box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                margin-top: -10px;
                z-index: 5;
                position: relative;
                @include max-lg {
                    font-size: 9px;
                }
            }
        }
        &-bottom {
            margin-top: 54px;
            display: none;
            justify-content: space-between;
            align-items: center;
            @include max-md {
                margin-top: 31px;
            }
        }
        &-more {
            font-weight: 400;
            font-size: 16px;
            line-height: 37px;
            text-align: center;
            color: #ffffff;
            background: #ff0000;
            border-radius: 7px;
            padding: 1px 11px;
        }
        &-pages {
            display: flex;
            column-gap: 5px;
            @include max-md {
                margin-top: 13px;
            }
            &__item {
                background: #ff0000;
                border-radius: 7px;
                font-weight: 400;
                font-size: 16px;
                line-height: 37px;
                color: #ffffff;
                width: 39px;
                height: 39px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &.active {
                    background: #e8e8e8;
                    border: 2px solid #ff0000;
                    color: #555555;
                }
            }
        }
    }
}
.main__center:nth-child(3) .main__center-category__game:nth-child(n+4) {
    display: block;
}
.main__center:nth-child(1),
.main__center:nth-child(2) {
    @include md {
        display: none;
    }
}
.main__center-bottom[style*="display: block"]{
    display:flex!important;
    @include max-md {
        display: block !important;
    }
  }